practica2
practica2SG
lib
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
.DS_Store
build/
Makefile
.vscode
.cmake
compile_commands.json
lib/
.gitpod.dockerfile
.gitpod.yml
FAQ.md
README.md
install.sh
run_valgrind.sh